/*Tableau */
[team] table{
	border-collapse: collapse;
    border-spacing: 0;
}

[team] td{
	text-align: center;
	border-bottom: solid black 1px;
	padding: 10px 0;
}

[team] th{
    border-bottom: solid black 1px;
    font-size: 1.2em;
    padding-bottom: 5px;
}

[team] .container {
    display: flex;
    max-width: 100%;
    margin: 0 ;
    align-items: center;
    flex-flow: column ;
    margin-bottom: 50px;
}

[team] .membre{
    width: 100%;
    font-size: .875rem;
    border: none;
    padding: 25px;
    margin: 0 50px;	
    background-color: white;
}
